<nav class="navbar">
    <ul class = "links">
      <li><a routerLink="/home"><span class="material-icons">home</span> Home</a></li>
      <li><a routerLink="/ships"><span class="material-icons">directions_boat</span> Ships</a></li>
      <li><a routerLink="/voyages"><span class="material-icons">travel_explore</span> Voyages</a></li>
      <li><a routerLink="/ports"><span class="material-icons">anchor</span> Ports</a></li>
      <li><a routerLink="/countries"><span class="material-icons">public</span> Countries</a></li>
      <li><a routerLink="/statistics"><span class="material-icons">bar_chart</span> Statistics</a></li>
    </ul>
  </nav>
  